body.agentbot.print > * {
    display: none;
}

body.agentbot.print #agentbot-chat-avatar,
body.agentbot.print #agentbot-chat-header,
body.agentbot.print #agentbot-chat-footer,
body.agentbot.print #agentbot-chat-send,
body.agentbot.print #agentbot-chat-message,
body.agentbot.print #agentbot-chat-main #agentbot-chat-complement,
body.agentbot.print #agentbot-chat-conversation span.qualify-answer {
    display: none;
}

body.agentbot.print #agentbot-chat-main,
body.agentbot.print #agentbot-chat-main #agentbot-chat-conversation .agent span, 
body.agentbot.print #agentbot-chat-main #agentbot-chat-conversation .user span {
    display: inline-block;
}

body.agentbot.print #agentbot-chat-main,
body.agentbot.print #agentbot-chat-main #agentbot-chat-wrapper,
body.agentbot.print #agentbot-chat-main #agentbot-chat-conversation {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.agentbot.print #agentbot-chat-main #agentbot-chat-conversation {
    padding: 15px;
}

body.agentbot.print #agentbot-chat-main #agentbot-chat-conversation .message:after{
    display: block;
}

body.agentbot.print #agentbot-chat-main.left,
body.agentbot.print #agentbot-chat-main.bottom,
body.agentbot.print #agentbot-chat-main.top,
body.agentbot.print #agentbot-chat-main.right {
    position: relative;
    left: auto !important;
    top: auto !important;
    bottom: auto !important;
    right: auto !important;
    width: 100%;
    height: 100%;
}