body.agentbot #agentbot-tab {
    /*    margin-top: -74px;*/
    top: 120px;
    left: 0;
    width: 44px;
    height: 266px;
    border: none;
    cursor:pointer;
    text-indent:-5000px;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    margin-left: 0px;
    background-image: url(../image/tab-147.png);
}

body.agentbot .agentbot-tab {
    /*    margin-top: -74px;*/
    top: 120px;
    left: 0;
    width: 44px;
    height: 266px;
    border: none;
    cursor:pointer;
    text-indent:-5000px;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    margin-left: 0px;
    background-image: url(../image/tab-147.png);
}

/* DEPRECATED */
body.agentbot #agentbot-overlay {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

body.agentbot #agentbot-chat-main {
    background: #FDD100;
    display: none;
    height: 495px;
    max-width: 904px;
    min-width: 497px;
    position: fixed;
    width: 497px;
    padding: 10px;
    /*overflow: hidden;*/
}
body.agentbot #chat-embebbed {
    width: 700px;
    height: 515px;
}

body.agentbot #chat-embebbed #agentbot-chat-main {
    max-width: 680px;
    min-width: 340px;
    width: 340px;
    position: relative;
}
body.agentbot #agentbot-chat-main #tab{
    background: url("../image/tab-bot.png") no-repeat scroll 0 0 transparent;
    height: 320px;
    position: absolute;
    right: -43px;
    top: 0px;
    width: 44px;
    z-index:9999999;
}
body.agentbot #agentbot-chat-main.expanded {
    width: 725px;
}
body.agentbot #agentbot-chat-main #agentbot-chat-main-wrapper{
    background: #FDD100;
    height: 495px;
    max-width: 725px;
    min-width: 340px;
    position: fixed;
    /*    width: 340px;*/
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px;
    position: relative;
}
body.agentbot #agentbot-chat-main #agentbot-chat-wrapper {
    background: #FDD100;
    max-width: 570px;
    width: 496px;
    height: 100%;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.agentbot #chat-embebbed #agentbot-chat-wrapper {
    max-width: 725px;
    width: 340px;
}
body.agentbot #agentbot-chat-main #agentbot-chat-avatar
{
    display: block;
    margin: 1px auto 0;
    height: 263px;
    left: auto;
    position: relative;
    top: 0;
    width: 214px;
}
body.agentbot #agentbot-chat-conversation {
    background-color: #FFFFFF;
    border: 0 none;
    display: block;
    font-family: Arial,'Lucida Sans Unicode','Lucida Grande',sans-serif;
    font-size: 11px;
    height: 304px;
    margin: 15px auto 0;
    overflow: auto;
    padding: 15px;
    position: relative;
    width: 495px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.agentbot #agentbot-chat-conversation p {
    font-family: Arial,'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body.agentbot #chat-embebbed #agentbot-chat-conversation {
    width: 340px;
}

body.agentbot #agentbot-chat-conversation .message a {
    color: #450FEF;
}

body.agentbot #agentbot-chat-conversation .message a:hover {
    text-decoration: underline;
}

/* START WELCOME MESSAGE */
body.agentbot #agentbot-chat-welcome-container {
    background: #F6F6F4;
    color: #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px 0;
}

body.agentbot #agentbot-chat-welcome-title {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted #CECEC4;
    color: #1C1B1C;
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
}

body.agentbot #agentbot-chat-welcome-message {
    font-family: "Arial";
    /*border-bottom: 1px dotted #CECEC4;*/
    color: #1C1B1C;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
}
/* END WELCOME MESSAGE */

body.agentbot #agentbot-chat-header {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: move;
    height: 85px;
    position: relative;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}
body.agentbot #agentbot-chat-footer {
    height: 32px;
    width: 100%;
    background: #FDD100;
    position: absolute;
    bottom: 0;
}

body.agentbot #agentbot-chat-logo {
    clear: both;
    float: left;
    height: 82px;
    margin: 7px 0 0 0;
    width: 271px;
}

body.agentbot #agentbot-chat-conversation .message {
    color: #666666;
    margin-bottom: 15px;
    margin-top: 7px;
    font-size: 12px;
}

body.agentbot #agentbot-chat-conversation .user span,
body.agentbot #agentbot-chat-conversation .agent span {   
    display: block;
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 5px;
    padding-left: 15px;
    width: 160px;
}
body.agentbot #agentbot-chat-conversation .agent span{
    background: none repeat scroll 0 0 #A0CFEE;
}
body.agentbot #agentbot-chat-conversation .user span{
    background: none repeat scroll 0 0 #B6C62A;
}

body.agentbot #agentbot-chat-message {
    border: medium none;
    color: #666666;
    display: inline-block;
    font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
    font-size: 11px;
    height: 36px;
    margin: 12px 0 0;
    outline: medium none;
    padding: 5px;
    width: 421px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.agentbot #chat-embebbed #agentbot-chat-message {
    width: 264px;
}
body.agentbot #agentbot-chat-main #agentbot-chat-send {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 12px 0 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
    width: 75px;
}
body.agentbot #agentbot-chat-email-window a#agentbot-chat-send-mail-button {
    background: url("../image/enviar.png") no-repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 33px;
    margin-bottom: 10px;
    padding: 0;
    text-indent: -99999px;
    vertical-align: middle;
    width: 237px;
}
body.agentbot #agentbot-chat-print {
    width: 32px;
    height: 32px;
    float:left;
    margin: 0 0 0 15px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    background: url(../image/print.jpg) no-repeat;
    display: none;
}

body.agentbot #agentbot-chat-send-mail {
    background: url(../image/email.jpg) no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 0 0 15px;
    padding: 0;
    cursor: pointer;
    display: none;
}

body.agentbot #agentbot-chat-main.bottom {
    position: fixed;
    top: auto; /* reset previous rule */
    bottom: 0;
    margin: 0;
}

body.agentbot #agentbot-chat-main.relative {
    position: relative;
    top: auto; /* reset previous rule */
    bottom: 0;
    margin: 0;
}

body.agentbot #agentbot-chat-main.left {
    right: auto; /* reset previous rule */
    left: 0;
    margin: 0;
}

body.agentbot #agentbot-chat-main.right {
    left: auto;
    right: 0; /* reset previous rule */
    margin: 0;
}

body.agentbot #agentbot-chat-main.top {
    bottom: auto; /* reset previous rule */
    top: 0; 
    margin: 0;
}

body.agentbot #agentbot-chat-main #agentbot-chat-complement {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    height: 452px;
    margin: 0 0 0 15px;
    max-width: 387px;
    /*overflow: hidden;*/
    position: relative;
    text-align: center;
    width: 0;
    -webkit-border-radius: 0 10px 10px 0; 
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.agentbot #agentbot-chat-main #agentbot-chat-complement-container {
    /* Fit Container */
    height: 370px;
    width: 100%;
    overflow: auto;
}

body.agentbot #agentbot-chat-main #agentbot-chat-complement-header {
    position: relative;
}

body.agentbot #agentbot-chat-main #agentbot-chat-complement-footer {
    height: 35px;
    width: 100%;
    background: #FDD100;
    position: absolute;
    bottom: 0;
}

body.agentbot #agentbot-chat-main #agentbot-chat-complement-container,
body.agentbot #agentbot-chat-main #agentbot-chat-complement-header,
body.agentbot #agentbot-chat-main #agentbot-chat-complement-footer {
    /*border-left: 1px solid #FFF;*/
}

body.agentbot #agentbot-chat-faqs-wrapper,
body.agentbot #agentbot-chat-image-wrapper,
body.agentbot #agentbot-chat-video-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

body.agentbot #agentbot-chat-faqs-container {
    display: table-cell;
    vertical-align: top;
    padding: 5px /*10px*/;
}

body.agentbot #agentbot-chat-image-container,
body.agentbot #agentbot-chat-video-container {
    display: table-cell;
    vertical-align: middle;
}

body.agentbot #agentbot-chat-image-container img {
    width: auto !important;
    max-height: 413px;
    max-width: 350px;

}

body.agentbot #agentbot-chat-video-container {
    vertical-align: top;
    padding-top: 10px;
}

/* FAQ'S */
body.agentbot #agentbot-chat-faqs-container a {
    color: #37549A;
    display: block;
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
    margin: 0 0 0 25px;
    list-style: initial;
    padding: 4px 22px;
    text-align: left;
    text-decoration: none;
    background: url("../image/bulletet-faqs.png") 0px 6px no-repeat;
}
body.agentbot #agentbot-chat-faqs-container.init{
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
    color: #37549A;
}
body.agentbot #agentbot-chat-faqs-container.init h3 {
    color: #333333;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 0 20px 0 22px;
    padding: 13px 0 3px;
    text-align: left;
}
body.agentbot #agentbot-chat-faqs-container.init li {
    margin: 0 0 0 42px;
}
body.agentbot #agentbot-chat-faqs-container.init a {
    background: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn{
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li{
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    margin-left: 4px;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li a{
    color: #333333;
    display: block;
    float: left;
    font-family: Arial, sans-serif, serif;
    font-size: 9px;
    padding-top: 84px;
    text-align: center;
    width: 80px;
    text-decoration: none;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li a:hover{

}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li .turnos{
    background: url("../image/calendar.jpg") no-repeat;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li .tramites{
    background: url("../image/tramites.jpg") no-repeat;
}
body.agentbot #agentbot-chat-faqs-container.init .extraBtn li .guia{
    background: url("../image/guia.jpg") no-repeat;
}
body.agentbot #agentbot-chat-faqs-container a:hover {
    text-decoration: underline;
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn{
    list-style: none;
    margin: 0;
    padding: 0;
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li{
    margin: 0;
    padding: 0;
    float: left;
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a{
    background-position: center top;
    background-repeat: no-repeat;
    color: #333333;
    display: block;
    float: left;
    font-family: Arial,sans-serif,serif;
    font-size: 9px;
    margin: 11px 0;
    padding: 80px 17px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 30px;
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.matrimonio{
    background-image:  url("../image/tramite1.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.microcentro{
    background-image:  url("../image/tramite2.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.DNInuevo{
    background-image:  url("../image/tramite3.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.DNIdomicilio{
    background-image:  url("../image/tramite4.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.infracciones{
    background-image:  url("../image/tramite5.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.nacimiento{
    background-image:  url("../image/tramite6.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.otorgamientoLicencia{
    background-image:  url("../image/tramite7.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.partidas{
    background-image:  url("../image/tramite8.png");
}
body.agentbot #agentbot-chat-faqs-container.init .tramitesBtn li a.renovacionLicencia{
    background-image:  url("../image/tramite9.png");
}


body.agentbot #agentbot-chat-complement-header .faqsTitle {
    border-bottom: 2px solid #BABABA;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 0 33px;
    padding: 13px 0 3px;
    text-align: left;
}

body.agentbot #agentbot-chat-complement-header .faqsTitle a.back{
    width: 18px;
    height: 18px;
    background: url("../image/back.png");
    float: left;    
    margin: 0 10px 0 0;
    cursor: pointer;
}
body.agentbot #agentbot-chat-complement #agentbot-chat-footer {
    bottom: -42px;
    left: 0;
}
body.agentbot #agentbot-chat-complement #agentbot-chat-footer #agentbot-chat-share{
    background: url("../image/share.png") no-repeat center center;
    cursor: pointer;
    float: right;
    height: 32px;
    margin: 0 0 0 15px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 32px;
    display: none;
}
.fb_dialog.fb_dialog_advanced{
    z-index: 99999999 !important;
}
body.agentbot #agentbot-chat-complement #agentbot-chat-footer #agentbot-chat-download{
    background: url("../image/download.png") no-repeat center center;
    cursor: pointer;
    float: right;
    height: 32px;
    margin: 0 20px 0 15px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 32px;
    display: none;
}
body.agentbot #agentbot-complement-open,
body.agentbot #agentbot-complement-close {
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 10px;
    width: 25px;
}
body.agentbot #agentbot-chat-close {
    background: url("../image/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 13px;
    top: 20px;
    width: 25px;
}
body.agentbot .agentbot-chat-close {
    background: url("../image/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 13px;
    top: 20px;
    width: 25px;
}
body.agentbot #agentbot-complement-close{
    background: url("../image/close-complement.png") no-repeat scroll 0 0 transparent;
}
body.agentbot #agentbot-complement-open{
    display: none;
    background: url("../image/open-complement.png") no-repeat scroll 0 0 transparent;
}

/* LOADING */
body.agentbot #agentbot-chat-main .loading {
    width: 40px;
    height: 6px;
    background: url(../image/loading.gif) no-repeat;
}

body.agentbot #agentbot-chat-loading {
    position: absolute;
    bottom: 34px;
    left: 0px;
    display: none;
}

/* Calificar Respuesta */
body.agentbot #agentbot-chat-main .qualify-answer {
    display:block; 
    text-align:right; 
    font-size:9px; 
    color:#333333; 
    margin:5px 0 10px 0;
}
body.agentbot #agentbot-chat-main .qualify-answer > span {
    padding: 0px 2px 1px 2px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    background-color: #000; 
    width: 20px; 
    height: 14px; 
    margin-left: 2px; 
    position: relative;
}
body.agentbot #agentbot-chat-main .qualify-answer span a {
    padding:0px 2px 1px 2px; 
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#FFF !important; 
    text-decoration:none !important; 
    width:20px; 
    height:14px;
    cursor: pointer;
}
body.agentbot #agentbot-chat-main .qualify-answer span a:hover {
    background-color:#575C7F; 
    color:#FFF;
}

body.agentbot #agentbot-chat-main .dontLike {
    background-color:#2A3382; 
    border:1px solid #339; 
    display:inline-block; 
    -webkit-border-radius:5px; 
    -moz-border-radius:5px; 
    border-radius:5px; 
    padding:5px 5px 8px 2px; 
    -moz-box-shadow:2px 2px 2px #666; 
    -webkit-box-shadow:2px 2px 2px #666; 
    box-shadow:2px 2px 2px #666; 
    text-indent:0; 
    bottom:20px; 
    right:0px; 
    z-index:9; 
    position:absolute; 
    display:none; 
    text-align:left;
}
body.agentbot #agentbot-chat-main .dontLike ul {
    width:120px; 
    padding:0 0 0 20px;
}
body.agentbot #agentbot-chat-main .dontLike li {
    list-style-image:url(../image/items3.jpg);
}
body.agentbot #agentbot-chat-main .dontLike li a {
    color:#FFF !important; 
    text-decoration:none !important;
}

.notSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* SEND MAIL */
body.agentbot #agentbot-chat-main #agentbot-chat-email-window {
    visibility: hidden;
    text-align: center;
    height: 357px;
    margin-top: 95px;
    -webkit-border-radius:0px; 
    -moz-border-radius:0px; 
    border-radius:0px; 
}
body.agentbot #agentbot-chat-main #agentbot-chat-email-window label.error{
    display:none;
    clear: both;
    color: #CC0000;
}
body.agentbot #agentbot-chat-main .box-overlay {
    position: absolute;
    top: 0px;
    background: #FFF;
    height: 455px;
    display: table;
    width: 340px;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
}
body.agentbot #agentbot-chat-main .box-overlay p {
    width: 90%;
    margin: 0 5% 10px;
    font-family: Arial;
    font-size: 12px;
}

body.agentbot #agentbot-login-option {
    margin: 0 auto;
    padding: 40px 0 0;
    width: 235px;
}

body.agentbot #agentbot-login-option span {
    clear: both;
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
}

body.agentbot #agentbot-chat-main .box-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    min-width: 496px;
}
body.agentbot #chat-embebbed #agentbot-chat-main .box-container {
    min-width: 340px;
}

body.agentbot #agentbot-chat-main .box-overlay label {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
}

body.agentbot #agentbot-chat-main .box-overlay input[type=text],
body.agentbot #agentbot-chat-main .box-overlay input[type=email] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9C9D;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
    padding: 5px;
    vertical-align: middle;
    width: 225px;
}

body.agentbot #agentbot-login-send-container {
    text-align: right;
}

body.agentbot #agentbot-chat-main .box-overlay a.button {
    background: url("../image/ingresar.png") no-repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 33px;
    margin-bottom: 10px;
    padding: 0;
    text-indent: -99999px;
    vertical-align: middle;
    width: 237px;
}

body.agentbot #agentbot-chat-main .box-container .close {
    background: url(../image/close.png) no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

body.agentbot #agentbot-chat-main .loadingMore {
    background: url(../image/loading2.gif) no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    display: none;
    right: 150px;
    top: 70px;
}

/* PHONE */
body.agentbot #agentbot-chat-phone-window p strong {
    font-size: 23px;
}

body.agentbot #agentbot-chat-phone-window label {
    float:left;
    color: #FFF;
    font-size: 11px;
    padding: 5px 0 5px 104px;
    width: 100%;
    font-family: "Arial";
}

body.agentbot #agentbot-chat-phone-window input[type=text].error {
    background: #FF7777;
}

body.agentbot #agentbot-chat-phone-window label.error {
    font-weight: bold;
    color: #FF7777;
    text-shadow: 0 0 2px #FF0000;
    padding-bottom: 0;
    padding-top: 0;
    display: none;
}

body.agentbot #agentbot-chat-phone-window p {
    font-family: MovistarText;
    color: #FFF;
    font-size: 20px;
    padding-left: 35px;
}

body.agentbot #agentbot-chat-phone-window .box-container {
    padding-bottom: 50px;
}

/* OPEN CHAT */
body.agentbot #agentbot-chat-main #externalChatContainer {
    overflow: hidden;
    text-align: center;
    height: 456px;
    width: 496px;
}
body.agentbot #chat-embebbed #externalChatContainer {
    height: 423px;
    width: 360px;
}

body.agentbot #agentbot-chat-main .externalChat {
    border: 0;
    float: left;
}
body.agentbot #agentbot-chat-main iframe.externalChat {
    width: 510px;
    height: 456px;
}
body.agentbot #chat-embebbed iframe.externalChat {
    width: 355px;
    height: 452px;
}

body.agentbot #agentbot-chat-main .backToChat {
    background: none repeat scroll 0 0 #333333;
    color: #DDDDDD;
    display: block;
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
    margin: 2px auto 5px;
    padding: 8px 5px;
    position: absolute;
    right: -6px;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 130px;
}

body.agentbot #agentbot-chat-main .backToChat:hover {
    background-color: #111;
    color: #ffdf48;
}

body.agentbot #agentbot-chat-main .button {
    background: #333;
    padding: 3px 5px;
    display: block;
    width: 270px;
    margin: 2px auto 5px;
    text-align: center;
    text-decoration: none;
    color: #ddd;
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
}
body.agentbot #agentbot-chat-main .button {
    width: 210px;
}

body.agentbot #agentbot-chat-main .button:hover {
    background-color: #111;
    color: #ffdf48;
}

body.agentbot #agentbot-chat-welcome-container ul li {
    list-style: none;
    list-style-type: none;
    text-indent: -1px;
    display: inline;
}
body.agentbot #agentbot-chat-welcome-container ul {
    padding: 0 0 5px;
}

body.agentbot #agentbot-avatar-list,
body.agentbot #agentbot-avatar-list-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.agentbot #agentbot-avatar-list {
    width: 255px;
    max-width: 255px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 240px;
    display: block;
}
body.agentbot #agentbot-avatar-container {
    display: none;
    float: left;
    height: 150px;
    max-width: 462px;
    position: absolute;
    left: 0;
    top: -27px;
    overflow: hidden;
    padding-top: 10px;
}
body.agentbot #agentbot-avatar-container-scroll {
    left: 0px;
    width: 240px;
    height: 92px;
}
body.agentbot .agentbot-avatar-item {
    display: none;
    float: left;
    padding: 5px 0px;
    cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    position: relative;
}
body.agentbot .agentbot-avatar-item img {
    position: absolute;
    right: 8px;
    top: 14px;
    transition-property: width, height, top;
    transition-duration: 0.5s;
    max-width: none;
}
body.agentbot .agentbot-avatar-item.selected,
body.agentbot .agentbot-avatar-item:hover {
    filter: none;
    filter: none; /* IE6-9 */
    -webkit-filter: none;
}
body.agentbot .agentbot-avatar-item,
body.agentbot .agentbot-avatar-item img {
    width: 60px;
    height: 72px;
    border: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
body.agentbot .agentbot-avatar-item {
    width: 80px;
    height: 92px;
}
body.agentbot .agentbot-avatar-item img {
    top: 30px;
}
body.agentbot .agentbot-avatar-item img.center {
    z-index: 2;
    top: 25px;
}
body.agentbot .agentbot-avatar-item img.left {
    z-index: 1;
}
body.agentbot .agentbot-avatar-item img.right {
    z-index: 1;
    top: 25px;
}
body.agentbot #agentbot-avatar-list-button {
    float: right;
    position: absolute;
    background: url('../image/avatar-button.png');
    width: 33px;
    height: 100px;
    right: 473px;
    top: -10px;
    cursor: pointer;
    display: none;
}
body.agentbot .control-prev,
body.agentbot .control-next {
    display: none;
    position: absolute;
    text-align: center;
    width: 50px;
    height: 100px;
    color: white;
    cursor: pointer;
    z-index: 2;
}
body.agentbot .control-prev {
    float: left;
    background: url(../image/avatar-prev.png) no-repeat 18px 55px;
    left: 0px;
}
body.agentbot .control-next {
    float: right;
    right: 2px;
    background: url(../image/avatar-next.png) no-repeat 22px 55px;
}

/****
NICO
****/
body.agentbot #agentbot-chat-main.nico #agentbot-chat-avatar
{
    background: url("../image/nico.png") no-repeat scroll 0 0 transparent;
}
body.agentbot #agentbot-chat-main.nico #agentbot-chat-logo {
    background: url("../image/nico-header.png") no-repeat scroll 0 0 transparent;
}


/**************
 HEADERS
***************/
body.agentbot #agentbot-chat-main.nico #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.lau #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.silvia #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.jorge #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.sebastian #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.marta #agentbot-chat-logo,
body.agentbot #agentbot-chat-main.alex #agentbot-chat-logo {
    background: url("../image/header.png") no-repeat scroll 0 0 transparent;
}

/* EcoBicis */
body.agentbot #agentbot-chat-logo.ecobicis-logo {
    background: url('../image/ecobicis-logo.png') no-repeat scroll 0 0 transparent !important;
}

/* Mensaje inicial */
body.agentbot #agentbot-start-message {
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-size: 12px;
    left: 44px;
    width: 168px;
    height: 180px;
    background: url('../image/message.png') no-repeat;
    display: none;
    position: fixed;
    cursor: pointer;
    /*    z-index: 10000;*/
}
body.agentbot #agentbot-start-message .agentbot-tab {
    /*    left: 319px;*/
    position: absolute;
    right: -43px;
}
body.agentbot #start-message-wrapper {
    position: relative;
    width: 250px;
}
body.agentbot #agentbot-chat-faqs-container.init li {
    list-style-type: decimal;
    line-height: 15px;
}
/* Embebbed */
body #chat-embebbed #agentbot-chat-faqs-container.init ol {
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    line-height: normal;
    border: none;
}
body #chat-embebbed #agentbot-chat-faqs-container.init li {
    margin: 0 10px 0 45px;
    padding: 0 0 0 0px;
    line-height: normal;
    border: none;
}
body #chat-embebbed #agentbot-chat-faqs-container.init ul li {
    margin: 0 0 0 28px;
}
body #chat-embebbed #agentbot-chat-faqs-container.init li a {
    line-height: normal;
}
body #chat-embebbed #tab {
    display: none;
}
body.agentbot #chat-embebbed #agentbot-avatar-list {
    max-width: 350px !important;
}

body.agentbot #chat-embebbed #agentbot-avatar-list-button {
    right: 317px;
}
/* Facebook */
body.agentbot #agentbot-chat-FBshare {
    float: left;
    background: url(../image/share.png) no-repeat center top;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 5px 0 0 10px;
    padding: 0;
    cursor: pointer;
}
/* Nico */
body.agentbot #avatar-nico img.center {
    width: 103px;
    height: 138px;
    top: 11px;
    left: -25px;
}
body.agentbot #avatar-nico img.left {
    height: 96px;
    top: 38px;
    width: 76px;
    left: 14px;
}
body.agentbot #avatar-nico img.right {
    left: -30px;
    height: 109px;
    width: 81px;
    top: 28px;
}
/* Lau */
body.agentbot #avatar-lau img.center {
    height: 100px;
    top: 7px;
    width: 78px;
    left: 4px;
}
body.agentbot #avatar-lau img.right {
    height: 73px;
    width: 55px;
    top: 32px;
    left: -8px;
}
body.agentbot #avatar-lau img.left {
    height: 73px;
    width: 55px;
    top: 32px;
    left: 44px;
}
/* Silvia */
body.agentbot #avatar-silvia img.center {
    height: 115px;
    top: -8px;
    width: 77px;
    left: 8px;
}
body.agentbot #avatar-silvia img.right {
    height: 83px;
    width: 62px;
    top: 21px;
    left: -5px;
}
body.agentbot #avatar-silvia img.left {
    left: 32px;
    height: 83px;
    width: 62px;
    top: 22px;
}
/* Jorge */
body.agentbot #avatar-jorge img.center {
    height: 95px;
    width: 85px;
    top: 15px;
    left: 3px;
}
body.agentbot #avatar-jorge img.right {
    height: 78px;
    width: 72px;
    top: 29px;
    left: -15px;
}
body.agentbot #avatar-jorge img.left {
    height: 74px;
    width: 68px;
    top: 30px;
    left: 37px;
}
/* Sebastián */
body.agentbot #avatar-sebastian img.center {
    width: 110px;
    height: 105px;
    top: 2px;
    left: -7px;
}
body.agentbot #avatar-sebastian img.left {
    height: 76px;
    width: 78px;
    top: 30px;
    left: 30px;
}
body.agentbot #avatar-sebastian img.right {
    height: 76px;
    width: 78px;
    top: 30px;
    left: -15px;
}
/* Marta */
body.agentbot #avatar-marta img.center {
    width: 93px;
    height: 95px;
    top: 14px;
    right: 0px;
    left: -2px;
}
body.agentbot #avatar-marta img.right {
    height: 70px;
    width: 68px;
    top: 35px;
    left: -9px;
}
body.agentbot #avatar-marta img.left {
    height: 70px;
    width: 68px;
    top: 36px;
    left: 37px;
}
/* Alex */
body.agentbot #avatar-alex img.center {
    width: 80px;
    height: 102px;
    top: 4px;
    right: 0px;
    left: 9px;
}
body.agentbot #avatar-alex img.right {
    height: 75px;
    width: 65px;
    top: 30px;
    left: -8px;
}
body.agentbot #avatar-alex img.left {
    height: 75px;
    width: 63px;
    top: 30px;
    left: 41px;
}

body.agentbot #agentbot-chat-feedback {
    height: 44px;
    width: 377px;
    background: #A5CD39;
    text-align: left;
    font-family: Helvetica, Arial;
    font-size: 10px;
    color: #000;
    padding: 5px 0 0 10px;
    position: absolute;
    bottom: 0px;
}
body.agentbot #chat-embebbed #agentbot-chat-feedback {
    width: 316px;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-thanks {
    display: none;
    height: 25px;
    width: 375px;
    background: #C4C2C3;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
}
body.agentbot #chat-embebbed #agentbot-chat-feedback #agentbot-feedback-thanks {
    width: 306px;
}
body.agentbot #agentbot-chat-feedback .feedback-col1,
body.agentbot #agentbot-chat-feedback .feedback-col2 {
    display: inline-block;
    line-height: 11px;
}
body.agentbot #agentbot-chat-feedback .feedback-col1 span:first-child {
    font-weight: bold;
}
body.agentbot #agentbot-chat-feedback .feedback-col1 span {
    display: block;
}
body.agentbot #agentbot-chat-feedback input {
    border: none;
    font-size: 11px;
    height: 20px;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-email {
    padding: 0;
    padding-left: 7px;
    margin: 0;
    margin-left: 5px;
    width: 324px;
    height: 20px;
    position: absolute;
    bottom: 7px;
    right: 47px;
    font-family: Helveti1ca, Arial;
    font-size: 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    
}
body.agentbot #agentbot-chat-feedback input[type=text].error {
    background: #FF7777;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-send {
    background: url(../image/feedback-send.png) 4px 2px no-repeat #333;
    color: #A1A1A1;
    width: 24px;
    height: 20px;
    padding: 0px;
    position: absolute;
    right: 23px;
    bottom: 7px;
    cursor: pointer;
    font-size: 32px;
    text-align: center;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-send span {
    height: 18px;
    position: absolute;
    margin-bottom: 8px;
    bottom: 6px;
    left: 5px;
    font-size: 30px;
    bottom: 5px\9;
    font-size: 32px\9;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-send:hover {
    color: #FFDF48;
}
body.agentbot #chat-embebbed #agentbot-chat-complement {
    max-width: 325px;
}
body.agentbot #chat-embebbed #agentbot-chat-faqs-container.init h3 {
    padding: 8px 0 0;
}
body #chat-embebbed #agentbot-chat-faqs-container.init ul li {
    margin-left: 18px;
}
body #chat-embebbed #agentbot-chat-header {
    cursor: default;
}

/* Avatar embbebed */
body.agentbot #chat-embebbed #agentbot-avatar-list {
    left: 110px;
}
body.agentbot #chat-embebbed .agentbot-avatar-item img.left {
    left: 38px;
}
body.agentbot #chat-embebbed .agentbot-avatar-item img.right {
    left: -8px;
    right: 0px;
}
body.agentbot #chat-embebbed .control-prev {
    left: 43px;
    /*bottom: 50px;*/
    background: url('../image/avatar-prev.png') no-repeat scroll 0px 0px;
}
body.agentbot #chat-embebbed .control-next {
    right: 126px;
    /*bottom: 50px;*/
    background: url('../image/avatar-next.png') no-repeat scroll 41px 0px;
}
body.agentbot #chat-embebbed .agentbot-avatar-item img.center {
}
body.agentbot #chat-embebbed #agentbot-chat-feedback #agentbot-feedback-email {
    width: 263px;
}

/**************
 HEADERS EMBED
***************/
body.agentbot #chat-embebbed #agentbot-chat-main.nico #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.lau #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.silvia #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.jorge #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.sebastian #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.marta #agentbot-chat-logo,
body.agentbot #chat-embebbed #agentbot-chat-main.alex #agentbot-chat-logo {
    background: url("../image/header-embed.png") no-repeat scroll 0 0 transparent;
}

body.agentbot #agentbot-chat-main ol,
body.agentbot #agentbot-chat-main ul,
body.agentbot #agentbot-chat-main li,
body.agentbot #agentbot-chat-main a,
body.agentbot #agentbot-chat-main p,
body.agentbot #agentbot-chat-main pre,
body.agentbot #agentbot-chat-main h1,
body.agentbot #agentbot-chat-main h2,
body.agentbot #agentbot-chat-main h3,
body.agentbot #agentbot-chat-main h4,
body.agentbot #agentbot-chat-main h5,
body.agentbot #agentbot-chat-main h6,
body.agentbot #agentbot-chat-feedback #agentbot-feedback-email
{
    line-height: normal;
}
/* Facebook */
body.agentbot #chat-embebbed.facebook {
    width: 810px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-main {
    max-width: 790px;
    min-width: 400px;
    width: 790px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-wrapper {
    width: 400px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-conversation {
    width: 400px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-message {
    width: 325px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-complement {
    max-width: 374px;
    width: 374px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-faqs-container.init ul li {
    margin-left: 37px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-feedback {
    width: 365px;
}
body.agentbot #chat-embebbed.facebook #agentbot-chat-feedback #agentbot-feedback-email {
    width: 312px;
}
body.agentbot #chat-embebbed.facebook #agentbot-avatar-container {
    left: 50px;
}
body.agentbot #chat-embebbed.facebook .control-prev {
    left: 75px;
}
body.agentbot #chat-embebbed.facebook .control-next {
    right: 65px;
}