body.agentbot #agentbot-chat-iframe-container,
body.agentbot #agentbot-chat-image-container,
body.agentbot #agentbot-chat-video-container {
    padding-top: 80px;
}

body.agentbot #agentbot-chat-main .box-container {
    padding-top: 45px;
    position: relative;
}

body.agentbot #agentbot-chat-conversation {
    width: 468px;
    height: 310px;
}

body.agentbot #agentbot-chat-message {
    float:left;
    width: 411px;
    height: 36px;
}

body.agentbot #agentbot-chat-main #agentbot-chat-send { 
    float: left;
}

body.agentbot #agentbot-chat-main .box-overlay { 
    clear: both;
}

body.agentbot #agentbot-chat-footer {
    clear: both;
}

body.agentbot #agentbot-chat-conversation .message.agent {
    clear: both;
}

body.agentbot #agentbot-chat-main .qualify-answer {
    position: relative;
    clear: both;
}

body.agentbot #agentbot-chat-message {
    height: 26px;
}

body.agentbot #agentbot-chat-main #agentbot-chat-wrapper{
    float: left;
}

body.agentbot #agentbot-chat-conversation {
    height: 277px;
}
body.agentbot #agentbot-chat-main #externalChatContainer {
    height: 455px;
}
body.agentbot #agentbot-chat-main #agentbot-chat-complement{
    float: left;
}
body.agentbot #agentbot-overlay {
    background: url(../image/pixel.png);
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-email {
    border: 0px;
    position: absolute;
    bottom: 5px;
    right: 26px;
    width: 128px;
    min-width: 128px;
    height: 15px;
}
body.agentbot #agentbot-chat-feedback #agentbot-feedback-send {
    bottom: 5px;
}
body.agentbot .agentbot-avatar-item {
    filter: none;
}

/* Embbebed */
body.agentbot #chat-embebbed #agentbot-chat-main #agentbot-chat-conversation {
    width: 310px;
}
body.agentbot #chat-embebbed #agentbot-chat-main #agentbot-chat-message { 
    width: 255px !important;
}
body.agentbot #agentbot-chat-main #agentbot-chat-complement-container {
    height: 387px;
}

/* Feedback */
body.agentbot #agentbot-chat-feedback #agentbot-feedback-send span {
    bottom: 2px;
    font-size: 28px;
}